.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 280px;
    font-size: 70px;
    font-weight: bold;
    height: 50%;
    border: 1px solid rgba(41, 232, 181, 0.68);
    margin: 10px;
    border-radius: 5px;
}

.red {
    color: red;
}

.default {
    color: rgba(41, 232, 181, 0.68);
}