.settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 95%;
    height: 60%;
    border: 1px solid rgba(41, 232, 181, 0.68);
    margin: 10px;
    border-radius: 5px;
}

.spanTitle {
    display: block;
    color: rgba(41, 232, 181, 0.68);
    font-weight: bold;
    font-size: 25px;
}

.errorValue input{
    border: 2px solid red;
    background-color: rgba(245, 93, 93, 0.38);
}

