.input {
    display: block;
    width: 50%;
    font-size: 20px;
    outline: none;
    border: 3px solid rgba(41, 232, 181, 0.68);
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding: 4px 0 4px 0;
}
.errorValue {
    border: 2px solid red;
    background-color: rgba(245, 93, 93, 0.38);
}